{% extends 'htmlfiles/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
  <style>
  h2.a {font-family: "Audiowide", sans-serif;}
  h3.b {font-family: "Sofia", sans-serif;}
  h1.c {font-family: "Trirong", serif;}
  .container
  {
    margin-top: 90px;
    align-items: center;
  }
  h2
  {
    font-size: 70px;
    color: #5a189a;
  }
  h3
  {
    font-size: 130px;
    color: #03045e;
  }
  </style>
  </head>
<div class="container">
    <h2 class = 'a'>Welcome to</h2>
    <h3 class = 'b'>Campus-Connect</h3>
</div>
{% endblock %}




